/*---------- Header ----------------------------------------------------*/

.logoBox{
    background-image: url("../media/logo-01.svg");
    height: 70px;
    width: 400px;
}

canvas{
    margin: 50px auto;
    background-image: url("../media/background/boardmap1400x800complete.png");
    background-repeat: no-repeat;
	background-position: center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}