/*---------- Header ----------------------------------------------------*/

.logoBox{
    background-image: url("../media/logo-01.svg");
    height: 70px;
    width: 400px;
}

canvas{
    margin: 50px auto;
    background-image: url("../media/background/boardmap1400x800complete.png");
    background-repeat: no-repeat;
	background-position: center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}

.diceOne{
    color: rgb(63, 63, 63);
    position: fixed;
    width: 100px;
    height: 100px;
    top: 150px;
    right: 100px;
    cursor: pointer;
    background: rgb(255,0,0);
    background: linear-gradient(140deg, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 15%, rgba(126,0,0,1) 100%);
    border-radius: 15px;
    padding-top: 5px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.diceOne p{
    padding: 0;
    margin: 7px;
}

.diceOne h1{
    padding: 0;
    margin: 0;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.diceTwo{
    color: rgb(63, 63, 63);
    position: fixed;
    width: 100px;
    height: 100px;
    top: 300px;
    right: 100px;
    cursor: pointer;
    background: rgb(28, 151, 0);
    background: linear-gradient(140deg, rgba(255,255,255,1) 0%, rgb(44, 240, 0) 15%, rgb(0, 114, 17) 100%);
    border-radius: 15px;
    padding-top: 5px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.diceTwo p{
    padding: 0;
    margin: 7px;
}

.diceTwo h1{
    padding: 0;
    margin: 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(42, 211, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.diceShadow{
    box-shadow: 0px 0px 20px 10px rgb(0, 98, 255);
    animation:blinkingText 2s infinite;
}

@keyframes blinkingText{
    0%{     color: rgb(63, 63, 63);    }
    50%{    color: transparent; }
    100%{   color: rgb(63, 63, 63);    }
}