/*---------- Header ----------------------------------------------------*/

.logoBox{
    background-image: url("../media/logo-01.svg");
    height: 70px;
    width: 400px;
}

canvas{
    margin: 50px auto;
    background-image: url("../media/background/boardmap1400x800complete.png");
    background-repeat: no-repeat;
	background-position: center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}

.diceOne{
    position: fixed;
    width: 100px;
    height: 100px;
    top: 150px;
    right: 100px;
    cursor: pointer;
    background-color: red;
    border-radius: 15px;
    padding-top: 5px;
}

.diceTwo{
    position: fixed;
    width: 100px;
    height: 100px;
    top: 300px;
    right: 100px;
    cursor: pointer;
    background-color: green;
    border-radius: 15px;
    padding-top: 5px;
}

.diceShadow{
    box-shadow: 0px 0px 10px 20px rgb(255, 255, 255,1);
}