/*<><><><> Global Layout <><><><><><><><><><><><><><><><><><><><>*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0px solid red;
    outline-offset: -1px;
}

.noSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    text-align: center;
    margin: 0 auto;
}

/*<><><><> Global Styling <><><><><><><><><><><><><><><><><><><><>*/

html{
    background-color: rgb(109, 221, 255);
    background-image: url("../media/background/background_main2560x1440.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*---------- Header ----------------------------------------------------*/

header{
    position: relative;
    width: 100%;
    padding-top: 20px;
}

.logoBox{
    margin: 0 auto;
    width: 800px;
    height: 150px;
    background-image: url("../media/logo-01.svg");
    background-repeat: no-repeat;
	background-position: center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}

.decorBorder{
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background: yellow;
}

/*---------- Footer ----------------------------------------------------*/

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    display: inline-block;
}