/*<><><><> Global Layout <><><><><><><><><><><><><><><><><><><><>*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0px solid red;
    outline-offset: -1px;
}

.noSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    text-align: center;
    margin: 0 auto;
}

/*<><><><> Global Fonts <><><><><><><><><><><><><><><><><><><><><>*/

@font-face {
    font-family: luckiestguy;
    src: url(../media/fonts/luckiestguy.ttf);
}

/*<><><><> Global Styling <><><><><><><><><><><><><><><><><><><><>*/

html{
    background-color: rgb(109, 221, 255);
    background-image: url("../media/background/background_main2560x1440.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*---------- Header ----------------------------------------------------*/

header{
    position: relative;
    width: 100%;
    padding-top: 20px;
}

.logoBox{
    margin: 0 auto;
    width: 800px;
    height: 150px;
    background-image: url("../media/logo-01.svg");
    background-repeat: no-repeat;
	background-position: center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}

.decorBorder{
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background: yellow;
}

/*---------- Main ----------------------------------------------------*/
/* Help Container */

.helpContainer{
    position: fixed;
    top: 40px;
    left: 20%;
    width: 60%;
    height: 900px;
    background-image: url("../media/background/helpbackground-01.svg");
    background-repeat: no-repeat;
	background-position: center;
    -webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
    background-size: contain;
    z-index: 10;
}

/* Help Button */
.helpBtn{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 150px;
    right: 50px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(255, 185, 73, 0.7);
    transition-duration: 0.2s;
    background-image: url("../media/buttons/question.svg");
    background-repeat: no-repeat;
	background-position: center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}

.helpBtn:hover{
    width: 120px;
    height: 120px;
    bottom: 140px;
    right: 40px;
    transition-duration: 0.3s;
}


/* Mute Button */
.settings{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 30px;
    right: 50px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(255, 185, 73, 0.7);
    transition-duration: 0.2s;
}

.settings:hover{
    width: 120px;
    height: 120px;
    bottom: 20px;
    right: 40px;
    transition-duration: 0.3s;
}

#play{
    width: 100%;
    height: 100%;
    background-image: url("../media/buttons/mutebutton2.svg");
    background-repeat: no-repeat;
	background-position: center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}

#mute{
    width: 100%;
    height: 100%;
    background-image: url("../media/buttons/mutebutton1.svg");
    background-repeat: no-repeat;
	background-position: center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}

/*---------- Footer ----------------------------------------------------*/

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    display: inline-block;
}

/*---------- Fade-in ----------------------------------------------------*/

.fadeIn {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*---------- Wiggle effect ----------------------------------------------------*/

.wiggle {
    animation: rotation 2s infinite linear;
  }
  
  @keyframes rotation {
    25% {
        transform: rotate(4deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-4deg);
    }
    100% {
        transform: rotate(0deg);
    }
  }

  .wiggle2 {
    animation: rotation2 2s infinite linear;
  }
  
  @keyframes rotation2 {
    25% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(4deg);
    }
    100% {
        transform: rotate(0deg);
    }
  }